* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #C3CDE7;
	font-family: Tahoma;
}

#main-header {
	margin: 0;
	padding: 0%;
	background-color: #3F5796;
	padding-bottom: 1%;
	margin-bottom: 3%;
}

#main-header .title {
	text-decoration: none;
	color: #FFFFFF;
	font-size:2em;
	font-weight: bold;
}

#main-header .title:hover {
	color: #3D9AD1;
}


/* Navigation Button */
#main-header li {
	list-style-type: none;
	background-color: #999FAD;
	color: #FFFFFF;
	
	
	font-weight: bold;
	font-size: 0.8em;
	
	float:right;
	margin: 0 1.7%;
    padding: 2px 2%;
	margin-top: 1%;
	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.nav-hover {
	background-color: #92A6DB;
}

/* Login CSS */

#login .header {
	clear: both;
	text-align: center;
}

#login-form {
	margin-top: 6px;
	display: none;
}

#login #errorMessage {
	color: #880000;
	margin-bottom: 0.6em;
}

#login input{
	margin-bottom: 0.6em;
	margin-left: 0.4em;
	float: right;
	display: block;
}

#login label {
	float: left;
	margin-bottom: 0.9em;
}

#login clear {
	clear:both;
}

.button {
	display: inline;
	border: 1px solid;
	border-radius: 3px;
	padding: 0.2em 2em;
	background-color: #92A6DB;
	margin: 0 auto;
}

.button:hover {
	background-color: #B2C2ED;
}

article {
	float: left;
	width: 80%;
}

/* Blog Entry CSS */
section {
	border: 3px outset #DEE4F3;
	background-color: #D7DEF3;
	margin: 1%;
	padding: 0.6em;
	font-size: 1em;
	padding-bottom: 0;
	box-shadow: 2px 2px 10px #000;
}

section h2 {
	font-size: 1.7em;
	margin-bottom: 0.4em;
}

section .details {
	font-size: 0.9em;
}

section .highlight {
	font-weight: bold;
}

section hr {
	clear: both;
	margin: 0.5em 0;
}

section .comment {
	margin-top: 0.7em;
}


#closeComments {
	margin: 0 auto;
	width: 20%;
}

#closeComments a {
	color: #000000;
	text-decoration: none;
}

section .errorMessage {
	color: #FF0000;
	margin-left: 0.7 em;
	font-weight: bold;
	font-size: 0.9em;
}

section h4 {
	font-style: italic;
	margin-left: 0.5em;
}

/* Recent Entries CSS */
aside {
	float: right;
	width: 17%;
	margin: 1%;
	border: 3px outset #DEE4F3;
	background-color: #D7DEF3;
	box-shadow: 2px 2px 10px #000;
}

aside h2 {
	text-align: center;
}

aside .date {
	font-style:italic;
	font-size: 1.1em;
	font-weight: bold;
}

aside a {
	color: #000000;
	font-weight: bold;
	font-size: 0.9em;
}

aside a:hover {
	color: #808080;
}

aside .blogEntry {
	margin-left: 8px;
	margin-bottom: 10px;
}

/* Editor CSS */
#editor {
	border: 3px outset #DEE4F3;
	background-color: #D7DEF3;
	box-shadow: 2px 2px 10px #000;
	
	width: 90%;
	margin: 2em auto;
	padding: 0.6em;
}

#editor label {
	font-weight: bold;
	display: block;
	margin: 0.5em;
}

#editor label[for="closeComments"] {
	margin: 0.5em;
	display:inline;
}

#editor input {
	margin-top: 0.5em;
}

#editor #content {
	width: 100%;
}

/* Register CSS */

#register {
	border: 3px outset #DEE4F3;
	background-color: #D7DEF3;
	box-shadow: 2px 2px 10px #000;
	
	width: 40%;
	margin: 2em auto;
	padding: 0.6em;
	text-align: center;
}

#register label {
	width: 200px;
	float: left;
	font-size: 0.9em;
	text-align: left;
	font-weight: bold;
}

#register input {
	text-align: left;
}

#register .field {
	margin: 0.5em;
}

div.errorField {
	text-align: right;
	padding-right: 3em;
	color: #FF0000;
	font-size: 0.8em;
	font-weight: bold;
}


#register #recaptcha_area {
	margin: 0 auto;
}

#register h2 {
	font-size: 1.1em;
	margin-left: 0.3em;
}