* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #C3CDE7;
	font-family: Tahoma;
}

#main-header {
	margin: 0;
	padding: 0%;
	background-color: #3F5796;
	padding-bottom: 1%;
	margin-bottom: 3%;
}

#main-header h1 {
	color: #FFFFFF;
}

/* Navigation Button */
#main-header li {
	list-style-type: none;
	background-color: #999FAD;
	color: #FFFFFF;
	
	
	font-weight: bold;
	font-size: 0.8em;
	
	float:right;
	margin: 0 1.7%;
    padding: 2px 2%;
	margin-top: 1%;
	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Login CSS */

#login h3 {
	clear: both;
	text-align: center;
}

#login-form {
	margin-top: 6px;
	display: none;
}

#login #errorMessage {
	color: #880000;
	margin-bottom: 0.6em;
}

#login input{
	margin-bottom: 0.6em;
	margin-left: 0.4em;
	float: right;
	display: block;
}

#login label {
	float: left;
	margin-bottom: 0.9em;
}

#login clear {
	clear:both;
}

#login-button {
	padding: 0.2em 2em;
	background-color: #92A6DB;
	margin: 0 auto;
}

.nav-hover {
	background-color: #92A6DB;
}

#login-button:hover {
	background-color: #B2C2ED;
}

section {
	border: 3px outset #DEE4F3;
	background-color: #D7DEF3;
	width: 85%;
	margin: 1%;
	padding: 0.6em;
	font-size: 1em;
	padding-bottom: 0;
	box-shadow: 5px 5px 10px #000;
}

section h2 {
	font-size: 1.7em;
	margin-bottom: 0.4em;
}

section .details {
	font-size: 0.9em;
	float: left;
}

section .highlight {
	font-weight: bold;
}

section hr {
	clear: both;
	margin: 0.5em 0;
}
